.hakkımızda{
    background-color: #E9ECEF;
    text-align: center;
}
.baslik{
    color: red;
}
.k-baslik{
    color: orangered;
   
}
.bg-color{
    background-color: #E9ECEF;
}
.size{
    width: 286px;
    height: 286px;
}
.text{
    color: white;
}